img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.gallery {
  padding: 20px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
}
